body {
    color: yellow;
    background-color: black;
}

button {
    background-color: yellow;
}

h1 {
    background-color: yellow;
    color: black;
}
input {
    background-color: yellow;
    
}
p {
    background-color: yellow;
    color: black;
}